.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj.user

*.Rcheck/
/*.tar.gz
/check/
/revdep/
/lib/
/Meta/
/doc/

/.geoconnexr-cache/
/cobertura.xml
/.quarto/
/_freeze/

.DS_Store
.env
.env.*
!.env.example
